---
layout: default
---

<!-- {% include site-header.html %} -->
<header class="header">
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
    <div class="container  typeset">
      <div class="row">
        <img src="/assets/logos/logo@1024px.png" alt="Logo" class="responsive" style="width:50%;height:50%;">


      </div>
      <div class="row">
        <div style="margin:5px">
          <h2>Hi there!</h2>
          <h3>I'm Yi Jie</h3>

        </div>
        

      </div>
    </div>
  </div>

</header>

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    <!--{{ content }}-->

    <p>Contact me here!</p>
    <a class="button" href="https://www.linkedin.cn/in/lim-yi-jie-983192186/" style="background: 05bf85">My linkedin</a>




  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
