---
layout: default
---

<!-- {% include site-header.html %} -->

<header class="header">
  <div class="container">
    <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
      <div class="container  typeset">
        dfndcfkjngbkjdxcbgvkmncdvxgmn
      </div>
    </div>

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}

</header>

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    <!--{{ content }}-->

    <p>Contact me here!</p>
    <a class="button" href="https://www.linkedin.cn/in/lim-yi-jie-983192186/" style="background: 05bf85">My linkedin</a>




  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
