BODY {
	FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif
}
BODY {
	BACKGROUND-IMAGE: url(../images/bg.png); MARGIN: 0px;
}
.header_BGI {
	BACKGROUND-IMAGE: url(../images/header_BGI_line.png); PADDING-BOTTOM: 150px; MIN-HEIGHT: 250px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0 75px; PADDING-TOP: 0px
}
TD.singtel_sep {
	BACKGROUND-IMAGE: none
}
TD#page_topbar {
	HEIGHT: 88px
}
.logoPlace {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 28px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.ciscoLogoPlace {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 22px; PADDING-TOP: 16px
}
.headerText1 {
	FONT-FAMILY: Arial; WHITE-SPACE: nowrap; COLOR: #848f94; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 40px
}
.headerText2 {
	FONT-FAMILY: Arial; WHITE-SPACE: nowrap; COLOR: #848f94; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 40px
}
.headerText1 A {
	COLOR: #349cda; FONT-SIZE: 10px
}
.headerText2 A {
	COLOR: #349cda; FONT-SIZE: 10px
}
.headerSeparatorPlace {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 13px; PADDING-TOP: 35px
}
.headerSeparatorPlace DIV {
	BACKGROUND-COLOR: #ffffff; WIDTH: 1px; HEIGHT: 40px; OVERFLOW: hidden; BORDER-RIGHT: #e6e9ea 1px solid
}
.footer_BGI {
	BACKGROUND-IMAGE: url(../images/bg.png); MIN-WIDTH: 1000px; MIN-HEIGHT: 100%; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.page_title_main {
	HEIGHT: 28px
}
.title_main {
	FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; LETTER-SPACING: -1px; COLOR: #162227; FONT-SIZE: 40px; FONT-WEIGHT: bold;
}
.title_main:first-child {
	padding-top:50px;
}
.dashboardSectionTitle {
	BACKGROUND-IMAGE: url(../images/section_BGI.png); PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom; PADDING-TOP: 5px
}
.more_padding {
	padding-top: 35px;
}
.dashboardSectionTitle FONT {
	FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; WHITE-SPACE: nowrap; COLOR: #152227; FONT-SIZE: 28px; FONT-WEIGHT: normal; PADDING-TOP: 30px
}
.dashboardSectionTextPlace {
	LINE-HEIGHT: 1.4; FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; COLOR: #152227; FONT-SIZE: 12px
}
.dashboardSectionTextPlace * {
	LINE-HEIGHT: 1.4; FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; COLOR: #152227; FONT-SIZE: 12px
}
.dashboardSectionSubTitle {
	COLOR: #152227; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.dashboardSectionsVertSeparator {
	BACKGROUND-IMAGE: url(../images/section_vert_separator.png); PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: center 50%; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.dashboardSectionsVertSeparatorEmpty {
	BACKGROUND-IMAGE: url(../images/section_vert_separator.png); PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: center 50%; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.dashboardSectionsVertSeparatorEmpty {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.dashboardSpaceUnderSectionTitle {
	HEIGHT: 20px; FONT-SIZE: 0px
}
.dashboardSpaceUnderSectionTitle2 {
	HEIGHT: 10px; FONT-SIZE: 0px
}
.dashboardSectionIconPlace {
	TEXT-ALIGN: left; WIDTH: 112px; WHITE-SPACE: nowrap; FONT-SIZE: 0px
}
.dashboardSectionStatus {
	COLOR: #838f94; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.dashboardSectionTextPlace SPAN.working {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.dashboardSectionTextPlace SPAN.inactive {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.dashboardSectionTextPlace SPAN.failure {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.dashboardSectionTextPlace SPAN.working {
	COLOR: #73a620
}
.dashboardSectionTextPlace SPAN.inactive {
	COLOR: #838f94
}
.dashboardSectionTextPlace SPAN.failure {
	COLOR: #e4022e
}
.dashboardSectionTextPlace A {
	WHITE-SPACE: nowrap; COLOR: #009cdb
}
.dashboardLinkWArrowPlace {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 2px
}
.dashboardVertSpaceBetweenLargeBtns {
	HEIGHT: 11px; FONT-SIZE: 0px
}
.dasboardLargeBtn {
	BACKGROUND-IMAGE: url(../images/dashboard_large_btn.png); FONT-SIZE: 0px
}
.dasboardLargeBtn_in1 {
	BACKGROUND-IMAGE: url(../images/dashboard_large_btn.png); FONT-SIZE: 0px
}
.dasboardLargeBtn_in2 {
	BACKGROUND-IMAGE: url(../images/dashboard_large_btn.png); FONT-SIZE: 0px
}
.dasboardLargeBtn {
	PADDING-LEFT: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 0px; CURSOR: pointer
}
.dasboardLargeBtn_in1 {
	PADDING-RIGHT: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right -142px
}
.dasboardLargeBtn_in2 {
	POSITION: relative; PADDING-LEFT: 62px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND-POSITION: left -71px; HEIGHT: 69px; TOP: 0px; LEFT: 0px
}
.dasboardLargeBtn_iconTroubleshoot {
	BACKGROUND-IMAGE: url(../images/dashboard_large_btn_icons.png); POSITION: absolute; WIDTH: 44px; HEIGHT: 39px; FONT-SIZE: 0px; TOP: 15px; LEFT: 7px
}
.dasboardLargeBtn_iconAdvSettings {
	BACKGROUND-IMAGE: url(../images/dashboard_large_btn_icons.png); POSITION: absolute; WIDTH: 44px; HEIGHT: 39px; FONT-SIZE: 0px; TOP: 15px; LEFT: 7px
}
.dasboardLargeBtn_iconAdvSettings {
	BACKGROUND-POSITION: left -41px
}
.dasboardLargeBtn_largeText {
	FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; WHITE-SPACE: nowrap; COLOR: #152227; text-shadow: 0 1px 0 #fff
}
.dasboardLargeBtn_smallText {
	FONT-FAMILY: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif; WHITE-SPACE: nowrap; COLOR: #152227; text-shadow: 0 1px 0 #fff
}
.dasboardLargeBtn_largeText {
	FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 14px
}
.dasboardLargeBtn_smallText {
	LINE-HEIGHT: 15px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
.main_content {
	/*background-color: #fff;*/
	padding-left: 15px;
	background-image: url(../images/bg.png);
}

/*menu css start*/
.left_menu_bar {
	font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding-left: 0px;
	text-align:left; /*IE8*/
	/*background-image: url("../images/side.png");*/
	/*background-position:top right;*/
	/*background-repeat: repeat-y;*/
}
.left_menu_bar a {
	color: #162227;
}
.left_menu_bar a:hover {
	text-decoration: none;
	color: #e4022e;
}
.left_menu_bar ul {
	padding-left: 15px;
}
.left_menu_bar li {
	list-style-type: none;
}
.left_menu_bar > li {
	padding-bottom:20px;
	font-size: 15px;
	background-image: url(../images/section_BGI.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	/*background-attachment:fixed;*/
}
.left_menu_bar > li > ul > li{
	padding-top:13px;
	font-size: 13px;
}
.left_menu_bar > li > ul > li > ul > li {
	padding-top:12px;
	font-size: 12px;
}
/*menu css end*/

/*login page*/
.login_table {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 5% 0% 5% 0%;
	border-radius:4px;
}
.login_sub_left_table {
	padding: 0% 0% 0% 18%;

	background-image: url("../images/side.png");
	background-position:top right;
	background-repeat: repeat-y;

	border-right-color: #D3D3D3;
	border-right-width: 1px;
	border-right-style: inset;
}
.login_sub_right_table {
	padding: 0% 8% 0% 8%;
}
.login_table td {
	font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #838f94;
}
.login_form_label {
	display: inline-block;
	min-height: 1px;
	float: left;
	width: 15%;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 7px;
	margin-right: 5px;
	text-align: left;
	cursor: default;
}
.login_form_input {
	display: block;
	width: 75%;
	float: right;
	padding: 8px 15px 8px 15px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login_form_btn {
display: inline-block;
padding:5px 25px;
margin-bottom:0;
font-size:15px;
font-weight:bold;
line-height:normal !important;
text-align:center;
white-space:nowrap;
vertical-align:middle;
cursor:pointer;
background-image:none;
border:1px solid transparent;
border-radius:4px;
margin-top: 5px;
margin-bottom: 5px;
color: #333;
background-color: #fff;
border-color: #ccc;
float: right;
}
.login_password_error {
	font-size:13px;
	font-weight:normal;
	color: #e4022e;

	position: relative;
	left: 20%;
}
/*login page*/

.desctext {
	font-size: 13px;
	padding-left: 5px;
}

.headertext {
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
}

img[src*="images/rg_frame1_"] {
	display: block;
}
